<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limengxiang.breeze.model.dao.AuditLogMapper">
    <insert id="insert" parameterType="com.limengxiang.breeze.model.entity.db.AuditLogEntity">
        INSERT INTO brz_audit_log (app_id,uri,ip,req,resp)
        VALUES (#{appId},#{uri},#{ip},#{req},#{resp})
    </insert>
    <select id="query" parameterType="com.limengxiang.breeze.http.request.AuditLogQueryEntity" resultType="com.limengxiang.breeze.model.entity.db.AuditLogEntity">
        SELECT * FROM brz_audit_log
        WHERE created_at >= #{fromTimestamp}
        AND created_at &lt;= #{toTimestamp}
        <if test="fromId!=null and fromId>0">AND id>#{fromId}</if>
        <if test="appId!=null and appId!=''">AND app_id=#{appId}</if>
        <if test="appId!=null and appId!=''">AND app_id=#{appId}</if>
        <if test="uri!=null and uri!=''">AND uri=#{uri}</if>
        ORDER BY id
        <if test="limit!=null and limit>0">LIMIT #{limit}</if>
    </select>

</mapper>
